<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    </head>
    <body>
        
      <div>  
        <h1>Welcome To Your Budgtr</h1>
        <table>
            <% for(let i=0; i< allBudget.length; i++) { %>
            <tr>
                <td><%= allBudget[i].date %></td>
                <td><a href="/budget/<%=i %>" ><%= allBudget[i].name %></a></td>
                <td><%= allBudget[i].amount %></td>
            </tr>
            <% } %>
        </table>
        <button><a href ="/budget/new">Add Another Line Item</a></button>
      </div>
    </body>
</html>